# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.Rproj.user

# Python environment
env
dhshealthrisks.Rproj
.Renviron
data/raw/rdhs/MDGE81FL.rds
data/raw/rdhs/MDKR81FL.rds
data/raw/rdhs/MDPR81FL.rds
data/raw/rdhs/MLGE81FL.rds
data/raw/rdhs/MLKR81FL.rds
data/raw/rdhs/MLPR81FL.rds
